ul {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  li{
    font-size: 1.5em;
    cursor: pointer;
    margin: 10px 0;
    .custom-ban {
      font-size: 0.5em;
      color: red;
      vertical-align: middle;
      margin-top: -50%;
    }
    .ban-box {
      align-content: inherit;
      float: right;
      margin-right: 20px;
    }
  }
}
