ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.5em;
  background-color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  overflow: scroll;
  padding-left: 0;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 2px 1px 3px #AAAAAA;
  li{
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 auto;
    .custom-ban {
      font-size: 0.7em;
      color: red;
      vertical-align: middle;
      margin-top: -50%;
    }
    .ban-box {
      align-content: inherit;
      float: right;
    }
  }
}
.upperlists {
  padding: 10px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #CCCCCC;
  border-bottom: 0px solid #AAAAAA;
  background-color: #dedede;

}
.custom-list{
  margin: 15px 15px;
  box-shadow: 1px 3px 3px #AAAAAA;
  border: 1px solid white;
}
.list-label-custom {
  display: block;
  text-align: left;
}
.list-heading {
  text-align: center;
  background-color: #2980B9;
  color: #ECF0F1;
  text-shadow: 0px 1px 1px #34495E;
  padding: 20px 0;
  margin: 10px;
}
.list-group-item:last-child {
  margin-bottom:15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
