/******************************
        SIGN UP MODAL
******************************/
 .modal-todo {
   color: black;
   text-align: center;
   padding: 30px;
   input {
     display: inherit;
     margin:5px auto;
     color: black;
   }
 }
