/******************************
      OVER ALL
******************************/

//added this for the angular-ui to work, removes need of empty href from
//standard bootstrap cursors/pointers for things like tabs and pagination
// and accordian
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  background-color: black;
  height: 100%;
  margin: 0;
  form {
    margin-bottom:15px;
    .custom-btn {
      vertical-align: inherit;
      padding:2px 6px 3px
    }
  }
}




/******************************
          MODAL
******************************/



@import "modal";



/******************************
        ASIDE
******************************/



aside {
  @import "user";
  background-color:white;
  height: 100%;
  width: 25%;
  float: left;
  @import "lists";
}



/******************************
        MAIN CONTENT
******************************/
@import "todos";

section {
  background-color: blue;
  height: 100%;
  width: 75%;
  display: inline-block;
  text-align: center;
}

.post-todo-form {
  margin:0 auto;
  text-align: center;
  margin:20px;
}
