/******************************
      OVER ALL
******************************/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

* {
  box-sizing: border-box; }

a {
  cursor: pointer; }

html {
  height: 100%; }

body {
  background-color: black;
  height: 100%;
  margin: 0; }
  body form {
    margin-bottom: 15px; }

.custom-btn {
  margin-top: 20px; }

/******************************
          MODAL
******************************/
/******************************
        SIGN UP MODAL
******************************/
.modal-content {
  padding: 20px; }
  .modal-content h1 {
    text-align: center; }
  .modal-content form {
    box-shadow: 0px 0px 2px #ccc;
    padding: 50px 20px; }

.closeBox {
  cursor: pointer;
  font-size: 2em;
  color: red;
  float: right; }

/******************************
        ASIDE
******************************/
aside {
  /******************************
          USER INFO
******************************/
  /******************************
          TD LISTS
******************************/
  background-color: white;
  height: 100%;
  width: 25%;
  float: left; }
  aside .main-icon {
    text-align: center;
    color: #eee;
    border-radius: 1000px;
    background-color: #ccc;
    border: 5px solid;
    margin: 0 auto;
    width: 125px;
    height: 125px; }
  aside #user-icon-main {
    font-size: 7em;
    margin-top: 5px; }
  aside .main-log {
    text-align: center;
    margin-top: 15px; }
  aside .sign-up {
    color: black; }
  aside .login {
    padding-bottom: 30px;
    margin: 10px;
    border-bottom: 1px solid grey; }
  aside input {
    width: 33%; }
  aside .blueman {
    color: #75DCFF;
    text-shadow: 1px 4px 4px #009FD4;
    background-color: #00bfff; }
  aside .logged-in {
    text-align: center; }
  aside .logged-in-user {
    display: block;
    font-size: 1.5em; }
  aside ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 1.5em; }
    aside ul li {
      font-size: 1.5em;
      cursor: pointer;
      margin: 10px 0; }
      aside ul li .custom-ban {
        margin-right: 20px;
        color: red;
        float: right;
        margin-top: 5px; }

/******************************
        MAIN CONTENT
******************************/
.panel-group {
  width: 50%;
  margin: 0 auto; }
  .panel-group .panel {
    border-radius: 0;
    margin-top: 0; }
  .panel-group .panel + .panel {
    margin-top: 0; }

.deltodo {
  cursor: pointer; }

.custom-header {
  width: 100%; }
  .custom-header h4 {
    display: inline-block; }
  .custom-header .deltodo {
    float: right; }

.isComplete {
  color: grey; }
  .isComplete h4 {
    text-decoration: line-through; }

.custom-div {
  display: inline-block;
  float: left;
  font-size: 2em; }

section {
  background-color: blue;
  height: 100%;
  width: 75%;
  display: inline-block;
  text-align: center; }

.post-todo-form {
  margin: 0 auto;
  text-align: center;
  margin: 20px; }
