/******************************
      OVER ALL
******************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  cursor: pointer; }

html {
  height: 100%; }

body {
  background-color: #FFFFFF;
  height: 100%;
  margin: 0; }
  body form {
    margin-bottom: 15px; }

.custom-btn {
  margin-top: 20px; }

.btn-custom-cir {
  color: #333;
  background-color: #1ABC9C;
  border-color: #16A085;
  border-radius: 100%; }

.add-green {
  color: #FFF; }

.list-group-item {
  border: 1px solid #BDC3C7; }
  .list-group-item input {
    border: 1px solid #BDC3C7; }

/******************************
          MODAL
******************************/
/******************************
        SIGN UP MODAL
******************************/
.modal-content {
  padding: 20px; }
  .modal-content h1 {
    text-align: center; }
  .modal-content form {
    box-shadow: 0px 0px 2px #ccc;
    padding: 50px 20px; }

.closeBox {
  cursor: pointer;
  font-size: 2em;
  color: red;
  float: right; }

/******************************
        ASIDE
******************************/
aside {
  /******************************
          USER INFO
******************************/
  /******************************
          TD LISTS
******************************/
  border: 1px solid #EFEFEF;
  height: 100%;
  width: 25%;
  float: left; }
  aside .main-icon {
    text-align: center;
    color: #eee;
    border-radius: 1000px;
    background-color: #ccc;
    border: 5px solid;
    margin: 10px auto;
    width: 125px;
    height: 125px; }
  aside #user-icon-main {
    font-size: 7em;
    margin-top: 5px; }
  aside .main-log {
    text-align: center;
    margin-top: 15px;
    padding: 10px; }
  aside .sign-up {
    color: black; }
  aside .login {
    background-color: #FFF;
    padding: 30px 0;
    border-radius: 4px;
    padding-top: 0;
    margin: 10px;
    border: 1px solid #1ABC9C;
    border-bottom: 2px solid #1ABC9C;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  aside input {
    width: 33%; }
  aside .blueman {
    color: #75DCFF;
    text-shadow: 1px 4px 4px #009FD4;
    background-color: #00bfff; }
  aside .logged-in {
    text-align: center; }
  aside .logged-in-user {
    background-color: #1ABC9C;
    color: #ECF0F1;
    text-shadow: 0px 1px 1px #34495E;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    font-size: 2em; }
  aside ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 1.5em;
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    overflow: scroll;
    padding-left: 0;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: inset 2px 1px 3px #AAAAAA; }
    aside ul li {
      font-size: 1.5em;
      cursor: pointer;
      margin: 0 auto; }
      aside ul li .custom-ban {
        font-size: 0.7em;
        color: red;
        vertical-align: middle;
        margin-top: -50%; }
      aside ul li .ban-box {
        align-content: inherit;
        float: right; }
  aside .upperlists {
    padding: 10px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #CCCCCC;
    border-bottom: 0px solid #AAAAAA;
    background-color: #dedede; }
  aside .custom-list {
    margin: 15px 15px;
    box-shadow: 1px 3px 3px #AAAAAA;
    border: 1px solid white; }
  aside .list-label-custom {
    display: block;
    text-align: left; }
  aside .list-heading {
    text-align: center;
    background-color: #2980B9;
    color: #ECF0F1;
    text-shadow: 0px 1px 1px #34495E;
    padding: 20px 0;
    margin: 10px; }
  aside .list-group-item:last-child {
    margin-bottom: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  aside .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }

/******************************
        MAIN CONTENT
******************************/
.wrapping {
  margin: 30px;
  overflow: auto;
  height: 90%; }

.todo-group {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 8px 2px -6px grey; }
  .todo-group .todo-item {
    text-align: center; }
    .todo-group .todo-item .todo-container {
      width: 100%; }
    .todo-group .todo-item div {
      display: inline-block; }
      .todo-group .todo-item div .custom-div {
        margin-top: 5px;
        float: left;
        font-size: 2em; }
      .todo-group .todo-item div .deltodo {
        float: right; }

.uppertodos {
  background-color: #2980B9;
  overflow: auto;
  margin-bottom: 30px;
  border: 1px solid #2980B9; }
  .uppertodos h1 {
    font-size: 5em;
    color: #ECF0F1;
    text-shadow: 0px 1px 1px #34495E; }

.todo-input {
  padding: 0;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.post-todo-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #dedede; }
  .post-todo-form .todos {
    width: 100%; }
    .post-todo-form .todos .btn-custom-cir {
      float: right; }

.deltodo {
  cursor: pointer; }

.isComplete {
  color: grey; }
  .isComplete h4 {
    text-decoration: line-through; }

section {
  background-color: #F9f9f9;
  height: 100%;
  width: 75%;
  display: inline-block;
  text-align: center; }
