/******************************
      OVER ALL
******************************/
//added this for the angular-ui to work, removes need of empty href from
//standard bootstrap cursors/pointers for things like tabs and pagination
// and accordian
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
//pull in font from google.
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  height: 100%;
  margin: 0;
  form {
    margin-bottom:15px;
  }
}

.custom-btn {
  margin-top:20px;
}

.btn-custom-cir {
  color: #333;
  background-color: #1ABC9C;
  border-color: #16A085;
  border-radius: 100%;
}

.add-green {
  color: #FFF;
}
.list-group-item {
  border: 1px solid #BDC3C7;
  input {
    border: 1px solid #BDC3C7;
  }
}



/******************************
          MODAL
******************************/



@import "modal";



/******************************
        ASIDE
******************************/



aside {
  @import "user";
  border: 1px solid #EFEFEF;
  height: 100%;
  width: 25%;
  float: left;
  @import "lists";
}



/******************************
        MAIN CONTENT
******************************/
@import "todos";

section {
  background-color: #F9f9f9;
  height: 100%;
  width: 75%;
  display: inline-block;
  text-align: center;
}
