.todo-group {
  width: 60%;
  margin: 0 auto;
  .todo-item {
    text-align: center;
    .todo-container{
      width:100%;
    }
    div {
      display:inline-block;
      .custom-div {
        margin-top:5px;
        float:left;
        font-size: 2em;
      }
      .deltodo {
        float:right;
      }
    }
  }
}
.uppertodos {
  overflow: auto;
  h1{
    font-size:5em;
  }
}

.deltodo {
  cursor: pointer;
}

.isComplete {
  color: grey;
  h4{
    text-decoration: line-through;
  }
}
