.panel-group {
  width: 50%;
  margin: 0 auto;
  .panel {
    border-radius: 0;
    margin-top:0;
  }
  .panel+ .panel {
    margin-top: 0;
  }
}

.deltodo {
  cursor: pointer;
}

.custom-header {
  width: 100%;
  h4 {
    display: inline-block;
  }
  .deltodo{
    float: right;
  }
}

.isComplete {
  color: grey;
  h4{
    text-decoration: line-through;
  }
}

.custom-div {
  display: inline-block;
  float:left;
  font-size: 2em;
}
