.wrapping {
  margin: 30px;
  overflow: auto;
  height: 90%;
}
.todo-group {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 8px 2px -6px grey;
  .todo-item {
    text-align: center;
    .todo-container{
      width:100%;
    }
    div {
      display:inline-block;
      .custom-div {
        margin-top:5px;
        float:left;
        font-size: 2em;
      }
      .deltodo {
        float:right;
      }
    }
  }
}
.uppertodos {
  background-color: #2980B9;
  overflow: auto;
  margin-bottom: 30px;
  border: 1px solid #2980B9;
  h1{
    font-size: 5em;
    color: #ECF0F1;
    text-shadow: 0px 1px 1px #34495E;
  }
}
.todo-input {
  padding: 0;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.post-todo-form {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #dedede;
  .todos {
    width: 100%;
    .btn-custom-cir {
      float: right;
    }
  }
}

.deltodo {
  cursor: pointer;
}

.isComplete {
  color: grey;
  h4{
    text-decoration: line-through;
  }
}
