/******************************
          USER INFO
******************************/

.main-icon {
  text-align: center;
  color: #eee;
  border-radius: 1000px;
  background-color: #ccc;
  border: 5px solid;
  margin: 0 auto;
  width: 125px;
  height: 125px;
}

#user-icon-main {
  font-size: 7em;
  margin-top:5px;
}
.main-log {
  text-align: center;
  margin-top:15px;
}
.sign-up {
  color: black;
}
.login {
  padding-bottom: 30px;
  margin:10px;
  border-bottom: 1px solid grey;
}
input {
  width: 33%;
}
.blueman {
  color: #75DCFF;
  text-shadow: 1px 4px 4px #009FD4;
  background-color: #00bfff;
}
.logged-in {
  text-align: center;
}
.logged-in-user {
  display: block;
  font-size: 1.5em;
}
/******************************
          TD LISTS
******************************/
