/******************************
          USER INFO
******************************/

.main-icon {
  text-align: center;
  color: grey;
}
#user-icon-main {
  font-size: 7em;
  margin-top:15px;
}
.main-log {
  text-align: center;
  margin-top:15px;
}
.sign-up {
  color: black;
}
.login {
  padding-bottom: 30px;
  margin:10px;
  border-bottom: 1px solid grey;
}
input {
  width: 33%;
}
.blueman {
  color: blue;
}
.logged-in {
  text-align: center;
}
.logged-in-user {
  display: block;
  font-size: 1.5em;
}
/******************************
          TD LISTS
******************************/
