<aside>
  <div class="login">
    <div class="main-icon" ng-class="{blueman: mainCTRL.isAuthenticated()}">
      <i id="user-icon-main" class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div ng-hide="mainCTRL.isAuthenticated()" class="main-log">
      <form   method="post" ng-submit="mainCTRL.login(uname, password)" name="loginform">
          <input type="text" name="uname" ng-model="uname" placeholder="username">
          <input type="password" name="password" placeholder="Password" ng-model="password">
          <button type="submit" class="btn btn-primary custom-btn">Log in</button>
      </form>
      <div class="sign-up">
        <span>New User? <a ng-click="mainCTRL.open()">Sign Up</a></span>
      </div>
      <div class="sign-up test-user">
        or log in as test user.
      </div>
    </div>
    <div ng-if="mainCTRL.isAuthenticated()" class="logged-in">
      <span class="logged-in-user">{{mainCTRL.username}}</span>
      <button type="logout" ng-click="mainCTRL.logout()">Log Out</button>
    </div>
  </div>
  <h4 style="text-align:center">LISTS</h4>
  <form style="text-align:center" method="post" ng-submit="mainCTRL.createList(listname)">
    <input type="text" name="listname" ng-model="listname">
    <button type="submit" class="btn btn-primary custom-btn">new list</button>
  </form>
  <ul>
    <li style="cursor: pointer" ng-click="mainCTRL.selectList(list)"ng-repeat="list in mainCTRL.lists">
      {{list.list_name}}
    </li>
  </ul>
</aside>
<section>
  <form method="post" class="post-todo-form" ng-submit="mainCTRL.todoPost(todoval)" name="todoPoster">
    <div class="todos">
      <input type="text" name="todoPost" ng-model="todoval" value="">
      <button type="submit" class="btn btn-primary custom-btn">Do It</button>
    </div>
  </form>
  <uib-accordion template-url="/views/todohead.html" close-others="false">
    <uib-accordion-group template-url="/views/todo.html" ng-repeat="todo in mainCTRL.todos"  todo="{{todo}}">
      <uib-accordion-heading>
      <div class="custom-header">
        <h4 >{{todo.todo}}</h4>
        <div class="deltodo btn btn-danger" ng-click="$event.stopPropagation();$event.preventDefault(); $event.originalEvent.cancelBubble = true; mainCTRL.delete(todo)">Delete</div>
      </div>
      </uib-accordion-heading>
        content
    </uib-accordion-group>
  </uib-accordion>


</section>



<!--

<br>
<br>
<button type="button" ng-click="getall()">get</button> -->
