<aside>
  <div class="login" ng-controller="MainController">

    <!--Main Icon changes color based on logged in status-->
    <div class="main-icon" ng-class="{blueman: mainCTRL.isAuthenticated()}">
      <i id="user-icon-main" class="fa fa-user" aria-hidden="true"></i>
    </div>

    <user-login></user-login>

    <!--if a user is logged in, hide log in options, display logged in user-->
    <div ng-if="mainCTRL.isAuthenticated()" class="logged-in">
      <span class="logged-in-user">{{mainCTRL.username}}</span>
      <button type="logout" class="btn btn-default"ng-click="mainCTRL.logout()">Log Out</button>
    </div>
  </div>

  <h4 style="text-align:center">LISTS</h4>

  <form style="text-align:center" class="form-inline"method="post" ng-submit="mainCTRL.createList(listname)">
    <div class="form-group">
      <input type="text" name="listname" class="form-control" ng-model="listname">
      <button type="submit" class="btn btn-primary">+</button>
    </div>
  </form>

  <ul>
    <li style="cursor: pointer" ng-click="mainCTRL.selectList(list)"ng-repeat="list in mainCTRL.lists">
      {{list.list_name}}
      <div class="ban-box">
        <i class="fa fa-ban custom-ban" ng-click="$event.stopPropagation();$event.preventDefault(); $event.originalEvent.cancelBubble = true;mainCTRL.deleteList(list)" aria-hidden="true"></i>
      </div>
    </li>
  </ul>

</aside>
<section>
  <h1>{{mainCTRL.selectedList}}</h1>

  <form method="post" class="post-todo-form form-inline" ng-submit="mainCTRL.todoPost(todoval)" name="todoPoster">
    <div class="todos form-group">
      <input type="text" name="todoPost" ng-model="todoval" class="form-control" value="">
      <button type="submit" class="btn btn-default">Do It</button>
    </div>
  </form>

  <uib-accordion template-url="/views/todohead.html" close-others="false">
    <uib-accordion-group template-url="/views/todo.html" ng-repeat="todo in mainCTRL.todos"  todo="{{todo}}">
      <uib-accordion-heading>
        <div ng-class="{isComplete: todo.completed}">
          <div class="custom-div" ng-click="$event.stopPropagation();$event.preventDefault(); $event.originalEvent.cancelBubble = true; mainCTRL.toggleComplete(todo)">
            <i ng-show="{{todo.completed}}" class="fa fa-check-circle-o custom-icon" aria-hidden="true"></i>
            <i ng-hide="{{todo.completed}}" class="fa fa-circle-o custom-icon" aria-hidden="true"></i>
          </div>

          <div class="custom-header">
            <h4 >{{todo.todo}}</h4>
            <div class="deltodo btn btn-danger" ng-click="$event.stopPropagation();$event.preventDefault(); $event.originalEvent.cancelBubble = true; mainCTRL.delete(todo)">Delete</div>
          </div>
        </div>
      </uib-accordion-heading>
        content
    </uib-accordion-group>
  </uib-accordion>


</section>



<!--

<br>
<br>
<button type="button" ng-click="getall()">get</button> -->
